@model Jogador

@{
    ViewData["Title"] = "Login";
}

<h1>TELA DE LOGIN</h1>

<h2>
    @TempData.Peek("Message")
</h2>

<form method="post" action='@Url.Action("Logar")'>

    <label for="">Email</label>
    <input type="email" name="Email" required>

    <label for="">Senha</label>
    <input type="password" name="Senha" required>

    <button type="submit">Logar</button>
</form>