@model Jogador

@{
    ViewData["Title"] = "Jogador";
}

<h1>Tela de Jogadores</h1>

<form method="post" action="" enctype="">

    <label for="">Nome</label>
    <input type="text" name="Nome" required>

    <label for="">Email</label>
    <input type="text" name="Email" required>

    <label for="">Senha</label>
    <input type="text" name="Senha" required>

    <label for="">Equipe</label>
    <input type="select" name="Equipe">

    <button type="submit">Cadastrar</button>

</form>